

/* Universal Values*/
body {
    background-color: black;
}

h1,h2,h3,p {
    font-family: "Verdana";
}


/*Header Section*/


.header {
    width: 100%;
}

.headline {
    text-align: center;
}

.headline h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

.headline h3 {
    font-size: 16px;
    font-weight: normal;
    color: aquamarine;
}

.hero {
    display: flex;
    justify-content: center;
}